@model List<B2BTecnology.Financeiro.DTO.ContatoDTO>

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">
            Contato
        </h4>
    </div>
</div>

<div id="tabContato">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="form-group col-md-5">
                <label class="control-label">Tipo Contato: </label>
                <select class="form-control" id="idTipoContato" name="idTipoContato">
                    <option value="0">Selecione</option>
                    <option value="1">Geral</option>
                    <option value="2">Técnico</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 ">
            <div class="form-group col-md-5">
                <label class="control-label">Nome: </label>
                <input class="form-control" id="NomeContato" name="NomeContato" type="text" />
            </div>
            <div class="form-group col-md-5">
                <label class="control-label">E-mail: </label>
                <div class="form-group input-group">
                    <span class="input-group-addon">@@</span>
                    <input class="form-control" id="Email" name="Email" type="text" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 ">
            <div class="form-group col-md-5">
                <label class="control-label">Telefone: </label>
                <input class="form-control" id="Telefone" name="Telefone" type="text" />
            </div>
            <div class="form-group col-md-5">
                <label class="control-label">Celular: </label>
                <input class="form-control" id="Celular" name="Celular" type="text" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-md-1">
            <button class="btn btn-default" id="btnContato" type="button">Adicionar</button>
        </div>
    </div>
</div>

<div id="divListaContato">
    @Html.Partial("../Contrato/Partials/_ListaContato", Model)
</div>