@using B2BTecnology.Financeiro.DTO
@model B2BTecnology.Financeiro.DTO.ClienteDTO

@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("/Salvar", "Cliente", FormMethod.Post))
{

    @Html.Hidden("IdCliente", Model.IdCliente)

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Clientes
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/Home">B2B Tecnology</a>
                </li>
                <li class="active">
                    <i class="fa fa-dashboard fa-fw"></i> Cliente
                </li>
            </ol>
        </div>
    </div>

    @Html.Partial("Error")
    @Html.Partial("Partials/_Detalhes")

}

@section actions{
    <div class="actions">

        <input type="submit" value="Salvar" class="btn btn-default" />

    </div>
}



@section scripts{

    <script>

        $(function () {

            $("#pesquisarCliente").click(function () {

                geral.Redirect("/Cliente/Detalhe/" + $("#Documento").val());

            });

            $("#pesquisarClienteNome").click(function () {

                $.getJSON("/Cliente/PesquisarClientesPorNome", { nome: $("#Nome").val() }, function (data) {

                    $("#nomesClientes").empty();
                    $("#nomesClientes").append("<option value=''>Selecione</option>");
                    $(data).each(function () {

                        var documento = $(this).prop("Documento");
                        var nome = $(this).prop("Nome");

                        $("#nomesClientes").append("<option value='" + documento + "'>"+ nome +"</option>");

                    });


                });

            });

            $("#nomesClientes").change(function () {
                
                geral.Redirect("/Cliente/Detalhe/" + $(this).val());

            });

        });

    </script>

}